@use '../../styles/_variables' as *;
@use 'sass:color';

.recipes__tag {
  padding: 0.5rem 1rem;
  height: 2.5rem;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  gap: $gap-xsmall;
  border-radius: $border-radius-large;
  background-color: rgba($background-dark, $opacity-ultra-low);
  color: rgba($text-dark, $opacity-muted);

  &:hover {
    transform: scale(1.03);
    background-color: rgba($background-dark, $opacity-ultra-low * 2);
    box-shadow: 0.25rem 0.25rem 1rem rgba($background-dark, $opacity-ultra-low),
      inset 0 0 1rem rgba($background-dark, $opacity-ultra-low);
  }
}

.recommendations__card-tag {
  display: flex;
  align-items: center;
  gap: $gap-xsmall;
  font-weight: $font-weight-medium;
  color: rgba($text-dark, $opacity-muted);

  &:hover {
    transform: scale(1.05);
  }
}

.recipes__badge {
  margin-bottom: 2rem;
  padding: 0.625rem 1.25rem;
  display: flex;
  gap: $gap-small;
  align-items: center;
  box-sizing: border-box;
  font-weight: $font-weight-semi-bold;
  background-color: $background-bright;
  border-radius: $border-radius-large;
  filter: drop-shadow(0.625rem 1.25rem 2.5rem rgba($background-dark, $opacity-ultra-low));
}

.tag {
  font-size: $font-size-small;
}

.recipes-summary__tag {
  padding-left: 2rem;
  margin-left: 0.5rem;
  display: inline-flex;
  align-items: center;
  gap: $gap-xsmall;
  color: rgba($text-dark, $opacity-muted);

  &:hover {
    svg,
    span {
      transform: scale(1.03);
      color: $text-link;
    }

    svg {
      fill: $text-link;
    }
  }
}
