@use "sass:color";
@use "./_variables" as *;
@use "./_mixins" as *;

html,
body,
hr,
header {
  margin: 0;
  padding: 0;
  font-family: "Inter";
  font-size: 16px;

  & p {
    margin: 0;
  }
}

h2 {
  font-size: 4rem;
  margin: 0 0 1.5rem;
  font-weight: $font-weight-semi-bold;
}

h3 {
  font-size: 3rem;
  font-weight: $font-weight-semi-bold;
  letter-spacing: $letter-spacing;
  margin: 0 0 1.5rem;
}

h4 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: $font-weight-semi-bold;
  letter-spacing: $letter-spacing;
  margin: 0 0 1.5rem;
}

h5 {
  font-size: $font-size-medium;
  line-height: 1.25rem;
  font-weight: $font-weight-semi-bold;
  letter-spacing: $letter-spacing;
  margin: 0 0 1.5rem;
}

p {
  color: rgba($text-dark, $opacity-muted);
  line-height: 1.75rem;
  font-weight: $font-weight-regular;
}

a {
  cursor: pointer;
}

nav {
  width: 100%;
  max-width: $width-maximized;
  display: flex;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 2.5rem $padding-horizontal;
  color: $text-dark;
  font-weight: $font-weight-medium;
  letter-spacing: calc(#{$letter-spacing} / 2);
}

.menu {
  display: flex;
  align-items: center;
  margin: 0 auto;
  gap: 4rem;
  text-align: center;
}

.menu__link {
  color: $text-dark;
  text-decoration: none;
}

.social-icons {
  display: flex;
  align-items: center;
  gap: $gap-small-medium;

  img {
    vertical-align: middle;
  }
}

@media (max-width: 63rem) {
  .social-icons {
    display: none;
  }

  nav {
    justify-content: space-between;
  }
}

@media (max-width: 50rem) {
  nav {
    padding: 2rem 1rem 1rem;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }
  .menu {
    gap: 1rem;
  }
}

hr {
  opacity: 0.1;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $gap-main;
  margin: $gap-main * 0.25 0 $gap-main;
}

.icon {
  height: calc($interactive-icon-size / 2);
  width: calc($interactive-icon-size / 2);
}

.recipes {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  flex-wrap: nowrap;
  overflow: hidden;
}

.recipes__item {
  display: flex;
  flex-shrink: 0;
  max-width: 75rem;
  aspect-ratio: 2 / 1;
  background-color: $background-primary;
  border-radius: 3.125rem;
  overflow: hidden;
}

.recipes__item-center {
  max-width: 80rem;
  margin: 0 2.5rem;
}

.recipes__description {
  margin: 0 0 1.875rem;
}

.recipes__content {
  width: 50%;
  padding: 3.125rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
}

.recipes__image {
  width: 50%;
}

.recipes__badge {
  margin-bottom: 2rem;
  padding: 0.625rem 1.25rem;
  display: flex;
  gap: $gap-small;
  align-items: center;
  box-sizing: border-box;
  font-weight: $font-weight-semi-bold;
  font-size: $font-size-small;
  background-color: $background-bright;
  border-radius: $border-radius-large;
}

.recipes__tags {
  display: flex;
  flex-wrap: wrap;
  gap: $gap-small;
}

.recipes__tag {
  padding: 0.5rem 1rem;
  display: inline-flex;
  align-items: center;
  gap: $gap-xsmall;
  border-radius: $border-radius-large;
  background-color: rgba($background-dark, $opacity-ultra-low);
}

.recipes__tag-text {
  font-size: $font-size-small;
  font-weight: $font-weight-medium;
  color: rgba($text-dark, $opacity-muted);
}

.recipes__footer {
  width: 100%;
  max-height: $button-height;
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.recipes__author {
  display: flex;
  align-items: center;
  gap: $gap-small;
}

.recipes__author-name {
  color: $text-dark;
  font-weight: $font-weight-semi-bold;
}

.recipes__date {
  justify-self: flex-start;
  color: rgba($text-dark, $opacity-muted);
  font-size: $font-size-small;
}

.recipes__author-data {
  display: flex;
  flex-direction: column;
  gap: $gap-xsmall;
}

.recipes__author-icon {
  height: $interactive-icon-size;
  border-radius: 100%;
}

.recipes__button {
  @include button(
    $button-width-base,
    $button-height,
    $background-dark,
    $text-bright
  );
  gap: $gap-small;
}

summary {
  list-style: none;
}

.categories {
  width: 100%;
  max-width: $width-maximized;
  display: flex;
  flex-direction: column;
  justify-self: center;
  box-sizing: border-box;
  padding: 0 $padding-horizontal;
}

.categories__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;

  h3 {
    margin: 0;
  }
}

.categories__details {
  margin-top: 2.5rem;
  height: 0;
  overflow: hidden;
  transition: height 0.55s ease-in-out;
  position: relative;

  &[open] {
    height: 16.25rem;
  }

  &:hover {
    overflow: visible;
  }
}

.categories__button {
  @include button(
    $button-width-base,
    $button-height,
    $background-primary,
    $text-dark
  );
  font-size: $font-size-regular;
}

.block__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.5rem;
}

.categories__card {
  width: min-content;
  height: min-content;
  padding: 1.875rem 2.5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $text-dark;
  border-radius: $border-radius-large;
  cursor: pointer;
  user-select: none;
  text-decoration: none;

  &:hover {
    transform: scale(1.1);
    transition: transform 0.05s ease-in-out;
    box-shadow: 0 0.125rem 1.25rem rgba(0, 0, 0, 0.015) inset,
      0 0 1.25rem rgba(0, 0, 0, 0.065);
  }
}

.emoji {
  width: 6.25rem;
  margin-bottom: 3rem;
  pointer-events: none;
}

.blurred-emoji {
  width: 6.25rem;
  position: absolute;
  filter: blur(0.625rem);
  opacity: 0.2;
  transform: translate(1.25rem, 1.25rem);
  z-index: -1;
}

.categories__card-name {
  font-size: $font-size-medium;
  font-weight: $font-weight-semi-bold;
}

.feed__card-like-button {
  top: 2.25rem;
  right: 2.25rem;
}

.feed {
  width: 100%;
  max-width: $width-maximized;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  box-sizing: border-box;
  padding: 0 $padding-horizontal;
  text-align: center;
}

.feed__header {
  margin-bottom: 6rem;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;

  a {
    color: $text-dark;
    text-decoration: none;

    &:hover {
      color: $text-link;
    }
  }
}

.feed__card {
  height: min-content;
  width: $card-width-medium;
  padding: 1rem;
  box-sizing: border-box;
  background: $main-gradient;
  border-radius: $border-radius-large;
  text-align: left;
}

.card__image {
  border-radius: 1.25rem;
  margin-bottom: 1.5rem;
}

.card__ad-image {
  border-radius: 1.25rem;
  width: $card-width-medium;
}

.feed__text {
  max-width: 55.15625%;
  margin: 0 auto;
}

.card__texts {
  margin: 0 0.5rem;
  display: flex;
  flex-direction: column;
}

.card__tags {
  display: flex;
  flex-wrap: wrap;
  gap: $gap-small-medium;
  margin-bottom: 1rem;
}

.card__tag {
  display: flex;
  align-items: center;
  gap: $gap-xsmall;
}

.course-ad {
  width: 100%;
  max-width: $width-maximized;
  padding: 0 $padding-horizontal;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.course-ad__text {
  align-self: center;
  width: 41.09375%;
  height: min-content;
  display: flex;
  flex-direction: column;
  margin-right: 3rem;
}

.course-ad__text-description {
  margin-bottom: 4.5rem;
}

.course-ad__button {
  @include button(
    $button-width-base * 0.9,
    $button-height,
    $background-dark,
    $text-bright
  );
}

.course-ad__image-wrapper {
  width: 55.46875%;
  height: min-content;
  display: grid;
  grid-template-rows: 1fr;
  align-self: center;
}

.course-ad__background {
  grid-area: 1/1;
  margin-left: 3.6875rem;
  max-width: 40.6875rem;
  aspect-ratio: 651 / 500;
  align-self: flex-end;
  border-radius: $border-radius-large;
  background: $main-gradient;
}

.course-ad__image {
  width: 100%;
  height: 100%;
  max-width: 42.125rem;
  grid-area: 1/1;
  align-self: flex-end;
  justify-self: flex-start;
  object-fit: contain;
}

.instagram {
  width: 100%;
  padding: 0 $padding-horizontal 5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $main-gradient;
  text-align: center;
  gap: 5rem;
  overflow: hidden;
}

.instagram__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.instagram__text {
  width: 65.625%;
}

.instagram__post {
  width: $card-width-regular;
}

.instagram__button {
  @include button(
    $button-width-base * 1.15,
    $button-height,
    $background-dark,
    $text-bright
  );
  gap: $gap-small;
}

.recommendations__card {
  width: $card-width-regular;
}

.like-button {
  width: $interactive-icon-size;
  height: $interactive-icon-size;
  position: absolute;
  border-radius: 100%;
  background-color: $background-bright;
  cursor: pointer;
  user-select: none;

  &:hover {
    svg {
      scale: 0.6;
      transition: scale 0.2s ease;
    }
  }

  svg {
    width: $interactive-icon-size;
    height: $interactive-icon-size;
    scale: 0.5;
    fill: #dbe2e5;
    transition: fill 0.3s ease, scale 0.2s ease;
    pointer-events: none;
  }
}

.like-button__liked {
  svg {
    fill: #ff6363;
    filter: drop-shadow(0px 0.3125rem 00.625rem rgba(255, 99, 99, 0.2));
    transition: fill 0.3s ease, filter 0.3s ease, scale 0.2s ease;
    animation: pulse 0.5s ease-in-out;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    25% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
}

.recommendations__card-like-button {
  top: 1rem;
  right: 1rem;
}

.recommendations__card-image {
  margin-bottom: 1rem;
}

.recommendations__card-tags {
  display: flex;
  flex-direction: row;
  gap: $gap-small-medium;
}

.recommendations__card-tag {
  display: flex;
  align-items: center;
  gap: $gap-xsmall;
}

.recommendations__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 6rem;

  h3 {
    margin: 0;
  }
}

.recommendations__text {
  width: 48.4375%;
}

.recommendations {
  width: 100%;
  max-width: $width-maximized;
  padding: 0 $padding-horizontal;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.newsletter {
  width: 100%;
  max-width: $width-maximized-small;
  padding: 5rem $padding-horizontal;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $background-primary;
  border-radius: 3.75rem;
  position: relative;
  overflow: hidden;
}

.newsletter__header {
  display: flex;
  flex-direction: column;
  text-align: center;
  z-index: 1;
  margin-bottom: 4.5rem;
}

.newsletter__text {
  width: 62%;
  align-self: center;
}

.newsletter__form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $background-bright;
  padding: 0.625rem;
  border-radius: 1.5rem;
  z-index: 1;
  box-sizing: border-box;
  width: 100%;
  max-width: 30rem;
}

.newsletter__input {
  border: none;
  box-sizing: border-box;
  padding: 0 1.375rem;
  font-size: $font-size-small;
  outline: none;
}

.newsletter__button {
  @include button(
    $button-width-base * 0.8,
    $button-height,
    $background-dark,
    $text-bright
  );
}

.newsletter__images {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  pointer-events: none;
  z-index: 0;
  bottom: 0;

  img {
    user-select: none;
    max-width: 50%;
  }
}

.footer {
  width: 100%;
  display: flex;
  margin: 0 auto $gap-main * 0.3;
  flex-direction: column;
  padding: 0 $padding-horizontal;
  max-width: $width-maximized;
  box-sizing: border-box;
  margin-bottom: $gap-main * 0.3;
}

.footer__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.footer__top-left {
  display: flex;
  flex-direction: column;
  gap: $gap-small;
}

.footer__top-right {
  .menu {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
}

.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  position: relative;
  margin-top: 3rem;
}

.logo {
  img {
    vertical-align: middle;
  }
}

.footer__copyright {
  text-align: center;
  white-space: nowrap;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  a {
    color: #ff7967;
    text-decoration: none;
  }
}
