    <header>
      <nav>
        <a class="logo" href="#home">
          <img
            src="icons/header/Foodieland-high.svg"
            alt="Foodieland logo"
            width="110"
            height="30"
          />
        </a>
        <div class="menu">
          <a class="menu__link" href="#home">Home</a>
          <a class="menu__link" href="#recipes">Recipes</a>
          <a class="menu__link" href="#blog">Blog</a>
          <a class="menu__link" href="#contact">Contact</a>
          <a class="menu__link" href="#about">About us</a>
        </div>
        <div class="social-icons">
          <a href="#">
            <img src="icons/header/001-facebook.svg" alt="facebook page" />
          </a>
          <a href="#">
            <img src="icons/header/003-twitter.svg" alt="twitter page" />
          </a>
          <a href="#">
            <img src="icons/header/004-instagram.svg" alt="instagram page" />
          </a>
        </div>
      </nav>
    </header>