$main-color: #e7fafe;
$white-background: #ffffff;
$black-background: #000000;
$text-white: #ffffff;
$text-black: #000000;
$text-color-muted: rgba(0, 0, 0, 0.6);
$dark-background-color: #000000;
$font-weight-bold: 600;
$font-weight-medium: 500;
$font-weight-regular: 400;
$font-size-small: 0.875rem;
$font-size-medium: 1rem;
$font-size-regular: 1.125rem;
$letter-spacing: -0.04rem;
$border-radius-small: 1rem;
$border-radius-regular: 1.25rem;
$border-radius-medium: 1.875rem;
$border-radius-large: 3.125rem;
$border-radius-circle: 100%;
$main-gradient: linear-gradient(
  180deg,
  rgba(231, 249, 253, 0) 0%,
  $main-color 100%
);
$button-height: 3.75rem;
$maximized-width: 90rem;
$gap-large: 2.5rem;
$gap-medium: 1.5rem;
$gap-small: 0.625rem;
$gap-main: 10rem;
$pading-horizontal: 5rem;
$button-width-base: 12.5rem;

html,
body,
hr,
header {
  margin: 0;
  padding: 0;
  font-family: "Inter";
  font-size: 16px;

  & h2,
  & h3,
  & h4,
  & p {
    margin: 0;
  }
}

h2 {
  margin: 2rem 0 1.5rem;
  font-size: 4rem;
  font-weight: $font-weight-bold;
}

h3 {
  font-size: 3rem;
  font-weight: $font-weight-bold;
  letter-spacing: $letter-spacing;
}

h4 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: $font-weight-bold;
  letter-spacing: $letter-spacing;
}

p {
  color: $text-color-muted;
  line-height: 1.75rem;
  font-weight: $font-weight-regular;
}

a {
  cursor: pointer;
}

nav {
  width: 100%;
  max-width: $maximized-width;
  display: flex;
  justify-self: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 2.5rem $pading-horizontal;
  color: $text-black;
  font-weight: $font-weight-medium;
  letter-spacing: calc(#{$letter-spacing} / 2);
}

.menu {
  display: flex;
  align-items: center;
  gap: 3.75rem;
  text-align: center;
}

.menu__link {
  color: $text-black;
  text-decoration: none;
}

.social-icons {
  display: flex;
  align-items: center;
  gap: $gap-large;

  img {
    vertical-align: middle;
  }
}

@media (max-width: 63rem) {
  .social-icons {
    display: none;
  }

  nav {
    justify-content: space-between;
  }
}

@media (max-width: 50rem) {
  nav {
    padding: 2rem 1rem 1rem;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }
  .menu {
    gap: 1rem;
  }
}

hr {
  margin-bottom: 2.5rem;
  opacity: 0.1;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $gap-main;
  margin-bottom: $gap-main;
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
}

.recipes {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  flex-wrap: nowrap;
  gap: $gap-large;
  overflow: hidden;
}

.recipes__item {
  display: flex;
  flex-shrink: 0;
  max-width: 75rem;
  aspect-ratio: 2 / 1;
  background-color: $main-color;
  border-radius: $border-radius-large;
  overflow: hidden;
}

.recipes__item-center {
  max-width: 80rem;
}

.recipes__description {
  margin: 1.5rem 0 1.875rem;
}

.recipes__content {
  padding: 3.125rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
}

.recipes__badge {
  padding: 0.625rem 1.25rem;
  display: flex;
  align-items: center;
  gap: 0.8125rem;
  font-weight: $font-weight-bold;
  font-size: $font-size-small;
  background-color: $white-background;
  border-radius: $border-radius-medium;
}

.recipes__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.recipes__tag {
  padding: 0.5rem 1rem;
  display: inline-flex;
  align-items: center;
  gap: $gap-small;
  border-radius: $border-radius-medium;
  background-color: rgba(0, 0, 0, 0.05);
}

.recipes__tag-text {
  font-size: 0.875rem;
  font-weight: $font-weight-medium;
  color: $text-color-muted;
}

.recipes__footer {
  width: 100%;
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.recipes__author {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.recipes__author-name {
  margin-bottom: 0.5rem;
  color: $text-black;
  font-weight: $font-weight-bold;
}

.recipes__date {
  justify-self: flex-start;
  color: $text-color-muted;
  font-size: $font-size-small;
}

.recipes__author-data {
  display: flex;
  flex-direction: column;
}

.recipes__author-icon {
  width: 3.125rem;
  border-radius: $border-radius-large;
}

.recipes__button {
  height: $button-height;
  width: $button-width-base;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.9375rem;
  color: $text-white;
  font-weight: $font-weight-bold;
  font-size: $font-size-small;
  background-color: $black-background;
  border-radius: $border-radius-small;
  text-decoration: none;
}

.categories {
  max-width: $maximized-width;
  display: flex;
  flex-direction: column;
  justify-self: center;
  gap: 5rem;
  box-sizing: border-box;
  padding: 0 $pading-horizontal;
}

.categories__header {
  display: flex;
  justify-content: space-between;
}

.categories__button {
  height: $button-height;
  width: $button-width-base;
  justify-self: end;
  font-size: $font-size-medium;
  font-weight: $font-weight-bold;
  border: none;
  border-radius: $border-radius-small;
  background-color: $main-color;
  cursor: pointer;
  border: none;
}

.categories__line {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: $gap-large;
}

.categories__card {
  min-width: 11.25rem;
  min-height: 12.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $text-black;
  border-radius: $border-radius-medium;
}

.blurred-emoji {
  position: absolute;
  filter: blur(0.625rem);
  opacity: 0.2;
  transform: translate(1.25rem, 1.25rem);
  z-index: -1;
}

.categories__card-name {
  margin: 3.125rem 0 1.875rem;
  font-size: $font-size-regular;
  font-weight: $font-weight-bold;
}

.card__like-button {
  margin: 0px;
  width: 3rem;
  height: 3rem;
  top: 2.25rem;
  right: 2.25rem;
  position: absolute;
  border-radius: $border-radius-circle;
  background-size: 50%;
  background-color: $white-background;
  background-position: center;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="22" height="18" viewBox="0 0 22 18"%3E%3Cpath d="M15.5022 8.2786e-06C14.6291 -0.00149138 13.7677 0.200775 12.9865 0.590718C12.2052 0.980661 11.5258 1.54752 11.0022 2.24621C10.293 1.30266 9.30512 0.606001 8.17823 0.254824C7.05134 -0.0963541 5.84256 -0.0842713 4.72291 0.289363C3.60327 0.662997 2.62948 1.37926 1.93932 2.3368C1.24916 3.29434 0.877596 4.44467 0.877197 5.62501C0.877197 12.3621 10.2373 17.6813 10.6357 17.9044C10.7477 17.9671 10.8739 18 11.0022 18C11.1305 18 11.2567 17.9671 11.3687 17.9044C13.0902 16.8961 14.7059 15.7173 16.1914 14.3856C19.4665 11.438 21.1272 8.49047 21.1272 5.62501C21.1255 4.13368 20.5323 2.70393 19.4778 1.6494C18.4233 0.594873 16.9935 0.00169855 15.5022 8.2786e-06Z" fill="%23DBE2E5"%3E%3C/path%3E%3C/svg%3E');
  background-repeat: no-repeat;
  appearance: none;
  cursor: pointer;
  border: none;

  &:checked {
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 18" %3E%3Cdefs%3E%3Cfilter id="shadow" x="-50%%" y="-50%%" width="200%%" height="200%%"%3E%3CfeDropShadow dx="0" dy="5" stdDeviation="5" flood-color="rgba(255, 99, 99, 0.2)"/%3E%3C/filter%3E%3C/defs%3E%3Cpath d="M15.5022 8.2786e-06C14.6291 -0.00149138 13.7677 0.200775 12.9865 0.590718C12.2052 0.980661 11.5258 1.54752 11.0022 2.24621C10.293 1.30266 9.30512 0.606001 8.17823 0.254824C7.05134 -0.0963541 5.84256 -0.0842713 4.72291 0.289363C3.60327 0.662997 2.62948 1.37926 1.93932 2.3368C1.24916 3.29434 0.877596 4.44467 0.877197 5.62501C0.877197 12.3621 10.2373 17.6813 10.6357 17.9044C10.7477 17.9671 10.8739 18 11.0022 18C11.1305 18 11.2567 17.9671 11.3687 17.9044C13.0902 16.8961 14.7059 15.7173 16.1914 14.3856C19.4665 11.438 21.1272 8.49047 21.1272 5.62501C21.1255 4.13368 20.5323 2.70393 19.4778 1.6494C18.4233 0.594873 16.9935 0.00169855 15.5022 8.2786e-06Z" fill="%23FF6363" filter="url(%23shadow)"/%3E%3C/svg%3E');
  }
}

.feed {
  max-width: $maximized-width;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  box-sizing: border-box;
  transform: translateY(1.25rem);

  h3 {
    text-align: center;
  }
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
}

.feed__card {
  height: 27.125rem;
  width: 25rem;
  padding: 1rem;
  box-sizing: border-box;
  gap: $gap-medium;
  background: $main-gradient;
  border-radius: $border-radius-medium;
}

.feed__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: $gap-large;
}

.card__image {
  width: 23rem;
  height: 15.625rem;
  border-radius: 1.25rem;
}

.feed__text {
  max-width: 44.125rem;
  margin: 1.5rem 0 6rem;
  text-align: center;
}

.card__texts {
  margin: 0 0.5rem;
  display: flex;
  flex-direction: column;
  gap: $gap-medium;
}

.card__tags {
  display: flex;
  flex-wrap: wrap;
  gap: $gap-medium;
}

.card__tag {
  display: flex;
  align-items: center;
  gap: $gap-small;
}

.course-ad {
  width: 100%;
  padding: 0 $pading-horizontal;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.course-ad__text {
  margin-bottom: 4.5rem;
  margin-top: auto;
  width: 100%;
  max-width: 35.625rem;
  display: flex;
  flex-direction: column;
  gap: $gap-medium;
}

.course-ad__text-title {
  max-width: 32.875rem;
}

.course-ad__text-description {
  max-width: 31.75rem;
}

.course-ad__button {
  width: $button-width-base - 1.25rem;
  height: $button-height;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white-background;
  font-size: $font-size-small;
  font-weight: $font-weight-bold;
  border-radius: $border-radius-small;
  background-color: $black-background;
  text-decoration: none;
}

.course-ad__image-wrapper {
  width: 44.375rem;
  height: min-content;
  display: grid;
  grid-template-rows: 1fr;
  align-self: center;
}

.course-ad__background {
  grid-area: 1/1;
  margin-left: 3.6875rem;
  max-width: 40.6875rem;
  aspect-ratio: 651 / 500;
  align-self: flex-end;
  border-radius: $border-radius-medium;
  background: $main-gradient;
}

.course-ad__image {
  width: 100%;
  height: 100%;
  max-width: 42.125rem;
  grid-area: 1/1;
  align-self: flex-end;
  justify-self: flex-start;
  object-fit: contain;
}

.instagram {
  width: 100%;
  padding: 5rem $pading-horizontal;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $main-gradient;
  text-align: center;
  gap: 5rem;
  overflow: hidden;
}

.instagram__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $gap-medium;
}

.instagram__text {
  max-width: 52.5rem;
}

.instagram__images {
  display: flex;
  gap: $gap-large;

  img {
    user-select: none;
    -webkit-user-drag: none;
  }
}

.instagram__button {
  height: $button-height;
  width: $button-width-base + 1.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: $text-white;
  font-weight: $font-weight-bold;
  font-size: $font-size-small;
  background-color: $black-background;
  border-radius: $border-radius-small;
  text-decoration: none;
}

.recommendations__cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: $gap-large;
  justify-content: center;
}

.recommendations__card {
  width: 18.125rem;
  height: 19.75rem;
}

.recommendations__card-image {
  width: 100%;
}

.recommendations__card-like-button {
  margin: 0px;
  width: 3rem;
  height: 3rem;
  top: 1rem;
  right: 1rem;
  position: absolute;
  border-radius: $border-radius-circle;
  background-size: 50%;
  background-color: $white-background;
  background-position: center;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="22" height="18" viewBox="0 0 22 18"%3E%3Cpath d="M15.5022 8.2786e-06C14.6291 -0.00149138 13.7677 0.200775 12.9865 0.590718C12.2052 0.980661 11.5258 1.54752 11.0022 2.24621C10.293 1.30266 9.30512 0.606001 8.17823 0.254824C7.05134 -0.0963541 5.84256 -0.0842713 4.72291 0.289363C3.60327 0.662997 2.62948 1.37926 1.93932 2.3368C1.24916 3.29434 0.877596 4.44467 0.877197 5.62501C0.877197 12.3621 10.2373 17.6813 10.6357 17.9044C10.7477 17.9671 10.8739 18 11.0022 18C11.1305 18 11.2567 17.9671 11.3687 17.9044C13.0902 16.8961 14.7059 15.7173 16.1914 14.3856C19.4665 11.438 21.1272 8.49047 21.1272 5.62501C21.1255 4.13368 20.5323 2.70393 19.4778 1.6494C18.4233 0.594873 16.9935 0.00169855 15.5022 8.2786e-06Z" fill="%23DBE2E5"%3E%3C/path%3E%3C/svg%3E');
  background-repeat: no-repeat;
  appearance: none;
  border: none;
  cursor: pointer;

  &:checked {
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 18" %3E%3Cdefs%3E%3Cfilter id="shadow" x="-50%%" y="-50%%" width="200%%" height="200%%"%3E%3CfeDropShadow dx="0" dy="5" stdDeviation="5" flood-color="rgba(255, 99, 99, 0.2)"/%3E%3C/filter%3E%3C/defs%3E%3Cpath d="M15.5022 8.2786e-06C14.6291 -0.00149138 13.7677 0.200775 12.9865 0.590718C12.2052 0.980661 11.5258 1.54752 11.0022 2.24621C10.293 1.30266 9.30512 0.606001 8.17823 0.254824C7.05134 -0.0963541 5.84256 -0.0842713 4.72291 0.289363C3.60327 0.662997 2.62948 1.37926 1.93932 2.3368C1.24916 3.29434 0.877596 4.44467 0.877197 5.62501C0.877197 12.3621 10.2373 17.6813 10.6357 17.9044C10.7477 17.9671 10.8739 18 11.0022 18C11.1305 18 11.2567 17.9671 11.3687 17.9044C13.0902 16.8961 14.7059 15.7173 16.1914 14.3856C19.4665 11.438 21.1272 8.49047 21.1272 5.62501C21.1255 4.13368 20.5323 2.70393 19.4778 1.6494C18.4233 0.594873 16.9935 0.00169855 15.5022 8.2786e-06Z" fill="%23FF6363" filter="url(%23shadow)"/%3E%3C/svg%3E');
  }
}

.recommendations__card-title {
  margin: 1rem 0;
  font-size: $font-size-regular;
  line-height: 1.25rem;
}

.recommendations__card-tags {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.recommendations__card-tag {
  display: flex;
  align-items: center;
}

.recommendations__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}

.recommendations__text {
  max-width: 38.75rem;
}

.recommendations {
  width: 100%;
  max-width: $maximized-width;
  padding: 0 $pading-horizontal;
  box-sizing: border-box;
}

.newsletter {
  width: 100%;
  max-width: 80rem;
  padding: 5rem $pading-horizontal;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $main-color;
  border-radius: 3.75rem;
  gap: 4rem;
  position: relative;
  overflow: hidden;
}

.newsletter__header {
  max-width: 38.75rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: $gap-medium;
  z-index: 1;
}

.newsletter__form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 30rem;
  background-color: $white-background;
  padding: 0.625rem;
  border-radius: 1.5rem;
  z-index: 1;
  box-sizing: border-box;
  max-width: 100%;
}

.newsletter__input {
  border: none;
  max-width: 100%;
  box-sizing: border-box;
  width: 18.75rem;
  padding: 0 1.375rem;
  font-size: $font-size-small;

  &:focus {
    outline: none;
    font-size: $font-size-small;
  }
}

.newsletter__button {
  height: $button-height;
  width: $button-width-base - 2.5rem;
  color: $text-white;
  font-weight: $font-weight-bold;
  font-size: $font-size-small;
  background-color: $black-background;
  border-radius: $border-radius-small;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.newsletter__images {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  pointer-events: none;
  z-index: 0;
  bottom: 0;

  img {
    user-select: none;
    max-width: 50%;
  }
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 0 $pading-horizontal;
  max-width: $maximized-width;
  box-sizing: border-box;
  margin: 0 auto 3rem;
}

.footer__line {
  margin: 0;
}

.footer__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer__top-left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer__top-right {

  .menu {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
}

.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  position: relative;
}

.logo {
  img {
    vertical-align: middle;
  }
}

.footer__copyright {
  text-align: center;
  white-space: nowrap;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  a {
    color: #FF7967;
    text-decoration: none;
  }
}

// * {
//   border: 1px solid red;
// }