$main-color: #e7fafe;
$white-background: #ffffff;
$black-background: #000000;
$text-white: #ffffff;
$text-black: #000000;
$text-color-muted: rgba(0, 0, 0, 0.6);
$dark-background-color: #000000;
$font-weight-bold: 600;
$font-weight-medium: 500;
$font-weight-regular: 400;
$font-size-small: 0.875rem;
$font-size-medium: 1rem;
$font-size-regular: 1.125rem;
$letter-spacing: -0.04rem;
$paddings: 2.5rem 5rem;
$border-radius-small: 1rem;
$border-radius-medium: 1.875rem;
$border-radius-large: 3.125rem;
$border-radius-circle: 100%;
$main-gradient: linear-gradient(
  180deg,
  rgba(231, 249, 253, 0) 0%,
  $main-color 100%
);

html,
body,
hr,
header {
  margin: 0;
  padding: 0;
  font-family: "Inter";
  font-size: 16px;
}

h2 {
  font-size: 4rem;
  font-weight: $font-weight-bold;
  margin: 2rem 0 1.5rem;
}

h3 {
  font-size: 3rem;
  font-weight: $font-weight-bold;
  margin: 0;
  letter-spacing: $letter-spacing;
}

h4 {
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: $letter-spacing;
  margin: 0;
  font-weight: $font-weight-bold;
}

p {
  font-weight: $font-weight-regular;
  line-height: 1.75rem;
  color: rgba(0, 0, 0, 0.6);
  margin: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3.75rem;
  max-width: 90rem;
  margin: 0 auto;
  padding: 2.5em 5rem;
  letter-spacing: -0.02rem;
  font-weight: $font-weight-medium;
  color: black;
  .img {
    display: block;
  }
}

.nav__menu {
  display: flex;
  align-items: center;
  gap: 3.75rem;
  white-space: nowrap;
}

.nav__menu-link {
  text-decoration: none;
  color: black;
}

.nav__social-icons {
  align-items: center;
  display: flex;
  gap: 2.5rem;
}

@media (max-width: 63rem) {
  .nav__social-icons {
    display: none;
  }

  nav {
    justify-content: space-between;
  }
}

@media (max-width: 50rem) {
  nav {
    padding: 2rem 1rem 1rem;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }
  .nav__menu {
    gap: 1rem;
  }
}

hr {
  opacity: 0.1;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.recipes__item {
  height: 37.5rem;
  display: flex;
  width: 80rem;
  max-width: 80rem;
  background-color: $main-color;
  border-radius: $border-radius-large;
  overflow: hidden;
}

.recipes__center {
  height: 40rem;
}

.recipes__description {
  margin-bottom: 1.875rem;
  margin-top: 0;
}

.recipes__image {
  align-self: center;
  width: 51.5625%;
}

.recipes__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 3.125rem;
  width: 48.4375%;
}

.recipes {
  margin: 2.5rem 0;
  display: flex;
  flex-wrap: nowrap;
  gap: 2.5rem;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;

  > * {
    flex-shrink: 0;
  }
}

.recipes__badge {
  display: flex;
  align-items: center;
  gap: 0.8125rem;
  padding: 0.625rem 1.25rem;
  background-color: white;
  border-radius: $border-radius-medium;
  font-weight: $font-weight-bold;
  font-size: $font-size-small;
}

.recipes__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.recipes__tag {
  align-items: center;
  display: inline-flex;
  gap: 0.625rem;
  padding: 0.5rem 1rem;
  border-radius: $border-radius-medium;
  background-color: rgba(0, 0, 0, 0.05);
}

.recipes__tag-text {
  font-size: 0.875em;
  font-weight: $font-weight-medium;
  color: $text-color-muted;
}

.recipes__footer {
  display: flex;
  flex-direction: row;
  margin-top: auto;
  justify-content: space-between;
  width: 100%;
}

.recipes__author {
  display: flex;
  align-items: center;
  padding: 0.3125rem 0 0.3125rem 0;
}

.recipes__author-name {
  color: black;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.recipes__date {
  justify-self: flex-start;
  color: $text-color-muted;
  font-size: $font-size-small;
}

.recipes__author-data {
  display: flex;
  flex-direction: column;
}

.recipes__author-icon {
  border-radius: $border-radius-large;
  width: 3.125rem;
  margin-right: 1rem;
}

.recipes__button {
  display: flex;
  align-items: center;
  text-decoration: none;
  box-sizing: border-box;
  gap: 0.9375rem;
  background-color: $black-background;
  color: $text-white;
  font-size: $font-size-small;
  min-height: 3.75rem;
  padding: 1.125rem 2.25rem;
  border-radius: $border-radius-small;
  font-weight: $font-weight-bold;
  max-width: fit-content;
  max-height: fit-content;

  * {
    padding: 0.125em;
  }
}

.categories {
  max-width: 90rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-sizing: border-box;
  margin: 10rem 0 11.4375rem;
  padding: 0 5rem;
  justify-self: center;
}

.categories__button {
  font-family: inherit;
  background-color: $main-color;
  border: none;
  max-width: 80rem;
  padding: 1.25rem 1.7875rem;
  border-radius: $border-radius-small;
  font-weight: $font-weight-bold;
  font-size: $font-size-medium;
  justify-self: end;
  cursor: pointer;
}

.categories__line {
  grid-column: 2 span;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5rem;
  flex-direction: row;
  gap: 2.5rem;
}

.categories__card {
  min-width: 11.25rem;
  min-height: 12.5rem;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: black;
}

.blurred-emoji {
  position: absolute;
  filter: blur(0.625rem);
  opacity: 0.2;
  transform: translate(1.25rem, 1.25rem);
  z-index: -1;
}

.categories__card-name {
  font-size: $font-size-regular;
  font-weight: $font-weight-bold;
  margin: 3.125rem 0 1.875rem;
}

.card__like-button {
  appearance: none;
  cursor: pointer;
  position: absolute;
  top: 2.25rem;
  right: 2.25rem;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="22" height="18" viewBox="0 0 22 18"%3E%3Cpath d="M15.5022 8.2786e-06C14.6291 -0.00149138 13.7677 0.200775 12.9865 0.590718C12.2052 0.980661 11.5258 1.54752 11.0022 2.24621C10.293 1.30266 9.30512 0.606001 8.17823 0.254824C7.05134 -0.0963541 5.84256 -0.0842713 4.72291 0.289363C3.60327 0.662997 2.62948 1.37926 1.93932 2.3368C1.24916 3.29434 0.877596 4.44467 0.877197 5.62501C0.877197 12.3621 10.2373 17.6813 10.6357 17.9044C10.7477 17.9671 10.8739 18 11.0022 18C11.1305 18 11.2567 17.9671 11.3687 17.9044C13.0902 16.8961 14.7059 15.7173 16.1914 14.3856C19.4665 11.438 21.1272 8.49047 21.1272 5.62501C21.1255 4.13368 20.5323 2.70393 19.4778 1.6494C18.4233 0.594873 16.9935 0.00169855 15.5022 8.2786e-06Z" fill="%23DBE2E5"%3E%3C/path%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  background-color: white;

  &:checked {
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 18"%3E%3Cpath d="M15.5022 8.2786e-06C14.6291 -0.00149138 13.7677 0.200775 12.9865 0.590718C12.2052 0.980661 11.5258 1.54752 11.0022 2.24621C10.293 1.30266 9.30512 0.606001 8.17823 0.254824C7.05134 -0.0963541 5.84256 -0.0842713 4.72291 0.289363C3.60327 0.662997 2.62948 1.37926 1.93932 2.3368C1.24916 3.29434 0.877596 4.44467 0.877197 5.62501C0.877197 12.3621 10.2373 17.6813 10.6357 17.9044C10.7477 17.9671 10.8739 18 11.0022 18C11.1305 18 11.2567 17.9671 11.3687 17.9044C13.0902 16.8961 14.7059 15.7173 16.1914 14.3856C19.4665 11.438 21.1272 8.49047 21.1272 5.62501C21.1255 4.13368 20.5323 2.70393 19.4778 1.6494C18.4233 0.594873 16.9935 0.00169855 15.5022 8.2786e-06Z" fill="%23FF6363"%3E%3C/path%3E%3C/svg%3E');
  }
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  gap: 1.5rem;
  padding: 1rem;
  height: 27.125rem;
  width: 25rem;
  background: $main-gradient;
  border-radius: $border-radius-medium;
}

.feed {
  max-width: 90rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  box-sizing: border-box;
  padding: 0 5rem;

  h3 {
    text-align: center;
  }
}

.feed__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.5rem;
}

.card__image {
  width: 23rem;
  height: 15.625rem;
}

.feed__text {
  margin: 1.5rem 0 6rem;
  max-width: 44.125rem;
  text-align: center;
}

.card__texts {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 0 0.5rem;
}

.card__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.card__tag {
  display: flex;
  align-items: center;
  display: inline-flex;
  gap: 0.625rem;
}

.course-ad {
  display: flex;
  flex-direction: row;
  justify-self: center;
  margin: 8.9375rem 0 10rem;
  padding: 0 5rem;
  box-sizing: border-box;
  width: 100%;
  max-width: 80rem;
  align-items: center;
  box-sizing: border-box;
}

.course-ad__text {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 1.5rem;
  padding: 10.565rem 2.75rem 4rem 0;
  width: 44.53125%;

  .course-ad__text-description {
    max-width: 31.75rem;
  }
}
.course-ad__button {
  text-decoration: none;
  box-sizing: border-box;
  background-color: black;
  color: white;
  font-size: $font-size-small;
  padding: 1.375rem 3.25rem;
  border-radius: $border-radius-small;
  font-weight: $font-weight-bold;
  margin-top: 3rem;
  max-width: fit-content;
  cursor: pointer;
}
.course-ad__image-wrapper {
  display: grid;
  max-width: 40.6875rem;
  grid-template-rows: 1fr;
  height: min-content;
}

.course-ad__background {
  grid-area: 1/1;
  max-width: 40.6875rem;
  background: $main-color;
  border-radius: $border-radius-medium;
  z-index: 1;
  align-self: flex-end;
  background: $main-gradient;
  margin-left: 3.6875rem;
  aspect-ratio: 675 / 597;
}

.course-ad__image {
  grid-area: 1/1;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 2;
  align-self: flex-end;
}
