@use '../../../styles/variables' as *;

footer {
  width: 100%;
  display: flex;
  margin: $margin-vertical * 3 auto 1.5rem;
  flex-direction: column;
  max-width: $width-maximized;
  box-sizing: border-box;
  margin-bottom: $gap-main * 0.3;

  .menu {
    font-weight: $font-weight-medium;

    .menu__link {
      font-weight: $font-weight-regular;
    }
  }
}

.footer__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.footer__top-left {
  display: flex;
  flex-direction: column;
  gap: $gap-small;

  p {
    line-height: 1.75rem;
  }
}

.footer__top-right {
  .menu {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
}

.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  position: relative;
  margin-top: 3rem;
}

.footer__copyright {
  text-align: center;
  white-space: nowrap;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: $font-size-medium;
  font-weight: $font-weight-medium;

  a {
    color: #ff7967;
  }
}
