      <section class="body-container categories">
        <div class="categories__header">
          <h3>Categories</h3>
          <button class="categories__button" id="categories-button">
            View All Categories
          </button>
        </div>
        <div class="block__list" id="categories__list"></div>
        <details id="categories__details" class="categories__details">
          <div class="block__list" id="categories__details-list"></div>
          <summary></summary>
        </details>
      </section>