@use '../../../styles/variables' as *;

main {
  display: flex;
  flex-direction: column;
  margin: $margin-vertical 0;
  gap: $gap-main;
  box-sizing: border-box;
  width: 100%;
  align-self: center;
}

.block__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.5rem;
  width: 100%;
}

// * {
//   outline: 1px solid red;
// }
