@use './variables' as *;

html,
body,
hr,
header {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-size: 16px;

  & p {
    margin: 0;
  }
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-weight: $font-weight-semi-bold;
  letter-spacing: $letter-spacing;
  text-wrap: balance;
}

h1 {
  font-size: 4rem; // 64 px
}

h2 {
  font-size: 3rem; // 48 px
}

h3 {
  font-size: 2.25rem; // 36 px
}

p {
  color: rgba($text-dark, $opacity-muted);
  line-height: 1.75rem;
  font-weight: $font-weight-regular;
}

span {
  letter-spacing: $letter-spacing * 0.5;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: $text-dark;
}

@media (max-width: 63rem) {
  .social-icons {
    display: none;
  }

  nav {
    justify-content: space-between;
  }
}

@media (max-width: 50rem) {
  nav {
    padding: 2rem 1rem 1rem;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }
  .menu {
    gap: 1rem;
  }
}

.icon {
  height: calc($interactive-icon-size / 2);
  width: calc($interactive-icon-size / 2);
  display: block;
}
