@use '../../styles/_variables' as *;

.recipes__image {
  width: 51.5625%;
  object-fit: cover;
}

.recipes__title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 1.5rem;
}

.recipes__description {
  margin-bottom: 0.875rem;
  min-height: 5.25rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.featured-recipes__tags {
  display: flex;
  flex-wrap: wrap;
  gap: $gap-small;
}

.recipes__footer {
  width: 100%;
  max-height: $button-height;
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.recipes__item {
  display: flex;
  max-width: $width-maximized;
  aspect-ratio: 2 / 1;
  background-color: $background-primary;
  border-radius: 3.125rem;
  overflow: hidden;
}

.recipes__content {
  width: 48.4375%;
  padding: 3.125rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
}
