@use '../../styles/_variables' as *;

.recipes__author {
  display: flex;
  align-items: center;
  gap: $gap-small;
  margin-right: 1rem;
}

.recipes__author-icon {
  height: 50px;
  border-radius: 100%;
}

.recipes__author-data {
  height: 50px;
  display: flex;
  flex-direction: column;
  gap: $gap-small * 0.5;
}

.recipes__author-name {
  color: $text-dark;
  font-weight: $font-weight-semi-bold;
}

.recipes__date {
  justify-self: flex-start;
  color: rgba($text-dark, $opacity-muted);
  font-size: $font-size-small;
}
