@use "../../../styles/variables" as *;

.content-with-sidebar {
    width: 100%;
    max-width: $width-maximized;
    display: flex;
    align-self: center;
    flex-direction: row;
    gap: 2.5rem;
}

.sidebar__main-content {
    display: flex;
    flex-direction: column;
    width: 65.625%;
    max-width: 52.5rem;
    gap: 1rem;
}