@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.categories {
  width: 100%;
  max-width: $width-maximized;
  display: flex;
  flex-direction: column;
  justify-self: center;
  box-sizing: border-box;
  padding: 0 $padding-horizontal;
}

.categories__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;

  h3 {
    margin: 0;
  }
}

.categories__button {
  @include button($button-width-base, $button-height, $background-primary, $text-dark);
  font-size: $font-size-regular;
}