@use "../../../styles/variables" as *;

.categories {
  width: 100%;
  margin: $margin-vertical 0;
  max-width: $width-maximized;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
}

.categories__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
  gap: $gap-small-medium;
  flex-wrap: wrap;
}
