@use '../../../styles/variables' as *;

.recommendations {
  width: 100%;
  margin-bottom: $margin-vertical;
  max-width: $width-maximized;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.recommendations__text {
  width: 48.4375%;
  line-height: 1.75rem;
  font-size: $font-size-regular;
}

.recommendations__header {
  padding-top: $margin-vertical;
  display: flex;
  font-size: 2.25rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin: 0 auto 5rem;
  text-wrap: balance;

  h2 {
    width: 48.4375%;
  }
}

.other__heading {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: $font-weight-semi-bold;
}