@use "../../styles/_variables" as *;

.like-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $interactive-icon-size;
  height: $interactive-icon-size;
  position: absolute;
  border-radius: 100%;
  background-color: $background-bright;
  cursor: pointer;
  user-select: none;
  border: none;

  svg {
    fill: #dbe2e5;
    transition: fill 0.3s ease, scale 0.2s ease, filter 0.3s ease;
    pointer-events: none;
    animation: pulse-reverse 0.3s ease-in-out;

    @keyframes pulse-reverse {
      0% {
        transform: scale(1);
      }
      25% {
        transform: scale(0.9);
      }
      100% {
        transform: scale(1);
      }
    }
  }

  &:hover {
    svg {
      scale: 1.2;
      transition: scale 0.2s ease, filter 0, 3s ease;
    }
  }

  &.liked {
    svg {
      fill: #ff6363;
      filter: drop-shadow(0px 0.3125rem 00.625rem rgba(255, 99, 99, 0.3));
      transition: fill 0.3s ease, filter 0.3s ease, scale 0.2s ease;
      animation: pulse 0.3s ease-in-out;

      @keyframes pulse {
        0% {
          transform: scale(1);
        }
        25% {
          transform: scale(1.1);
        }
        100% {
          transform: scale(1);
        }
      }
    }
  }
}
